.carrousel-container{
    padding: 16px;
}
.carrousel{
    overflow-x: auto;
    display: flex;
  
}
.carrousel::-webkit-scrollbar {
    width:10px;
    height: 10px;
    }
     
    /* aqui é para personalizar o fundo da barra, neste caso estou colocando um fundo cinza escuro*/
    .carrousel::-webkit-scrollbar-track {
    background:transparent;
    }
     
    /* aqui é a alça da barra, que demonstra a altura que você está na página
    estou colocando uma cor azul clara nela*/
    .carrousel::-webkit-scrollbar-thumb {
    background: transparent;
    }  
.carrousel img{
    border:4px solid dodgerblue;
    border-radius: 4px;
    margin: 0 20px;
    height: 180px;
}
.arrow-right{
    position: absolute;
    right: 0;
}
.arrow-left{
    position: absolute;
    left: 0;
}