.banner-container{
    
    height: 600px;
    
}
.banner-content{
    background: url('../../assets//pexels-simon-migaj-747964.jpg') center center;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}